#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,5,0,0
 PRODUCTVERSION 0,5,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041204B0"
        BEGIN
            VALUE "CompanyName", ""
            VALUE "FileDescription", "Unity Native Audio Plugin"
            VALUE "FileVersion", "0.5.0"
            VALUE "InternalName", "PAKNativePlugin"
            VALUE "OriginalFilename", "PAKNativePlugin.dll"
            VALUE "ProductName", "PAK Native Plugin"
            VALUE "ProductVersion", "0.5.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0412, 1200
    END
END
